<section class="section section-small">
    <h2 class="section-header">About our cafe</h2>
    <p>Lorem ipsum dolor sit amet, oportere imperdiet ius id, senserit consetetur ea nam.
        His impedit dissentias id, recusabo honestatis neglegentur sea eu, labitur inermis instructior eum at.
        Duis bonorum complectitur eam te, tamquam veritus fuisset an mei, pri dolore molestiae ut.
        Ad quo lobortis tractatos, essent integre conceptam cu pri.
        Elit postea omittantur no mea, pri ne vivendum democritum, per error nonumy scripserit ea.</p>

    <p>Cu vim fugit decore, pro simul invidunt hendrerit cu, ut semper sadipscing efficiantur vim.
        Soleat petentium ne pro, in per illud movet detraxit, ridens luptatum legendos his ne.
        Vim no case doming ocurreret, et duo melius latine. Vis id dictas expetenda conceptam.</p>
</section>