<section class="section section-small">
    <h2 class="section-header">Talk to us</h2>
    <p>Reach us via
        <a href="https://www.google.com/" class="contact-link">Email</a>
        or follow us on social icons below. Thank you!</p>

    <div class="social-icons">
        <!-- Facebook -->
        <div class="social-link-container">
            <a href="https://www.google.com/" class="social-link">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

        <!-- Twitter -->
        <div class="social-link-container">
            <a href="https://www.google.com/" class="social-link">
                <i class="fab fa-twitter"></i>
            </a>
        </div>

        <!-- Instagram -->
        <div class="social-link-container">
            <a href="https://www.google.com/" class="social-link">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        </a>
    </div>
</section>